@font-face{
  font-family: 'MedievalSharp';
  src: url(./src/assets/font/MedievalSharp-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  }
  
  .FormContainer{
  height: 50%;
  width: 65%;
  background-image: url(./src/assets/fondopergamino.jpg);
  margin: 0 3% 5%;
  border-top: .3125rem solid black;
  border-radius: 15px;
  padding: 3.125rem;
  align-items: center;
  justify-content: center;
  }
  
  .Form{
  margin: 0 auto 5%;
  width: 80%;
  }
  
  .Form.Group{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  }
  
  .Contactcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
  
  #h3{
  margin-top: 6%;
  margin-bottom: 4%;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  color: black;
  font-size: 2rem;
  text-align: center;
  }
  
  label{
  width: 30%;
  font-family: 'MedievalSharp', cursive;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 1rem;
  }
  
  .FormInputContainer{
  background-color: transparent;
  border: none;
  border-bottom: solid .0563rem black;
  margin-left: 1rem;
  outline: none;
  font-family: 'MedievalSharp', cursive;
  font-size: 1rem;
  padding: 0.5rem;
  width: 70%;
  }
  
  Button{
  margin-top: 2rem;
  background-color: transparent !important;
  color: #000;
  border: none;
  border-radius: 5px;
  outline: none;
  font-family: 'MedievalSharp', cursive;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  Button:hover{
  background-color: #555;
  }
  
  @media screen and (max-width: 768px) {
  .FormContainer {
  width: 90%;
  }
  
  label, .FormInputContainer {
  font-size: 1rem;
  }
  
  Button {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  }

  }
 
  