@font-face{
  font-family: 'MedievalSharp';
  src: url(./src/assets/font/MedievalSharp-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  }

 .ContactUs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./src/assets/fondomadera.jpg);
  height: 100%;
}
.FormContainer {
  background-image: url(./src/assets/fondopergamino.jpg);
  height: 25%;
  width: 65%;
  margin: 3% 3% 3%;
  border-top: .3125rem solid #000;
  border-radius: 15px;
  padding: .3125rem;
  justify-content: center;
  align-items: center;
  }

  .Form{
  margin: 0 auto 5%;
  width: 80%;
  }

  .Form.Group{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  }

  .Contactcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

  #h3{
  margin-top: 6%;
  margin-bottom: 4%;
  font-family: 'MedievalSharp' !important;
  font-weight: bold;
  color: #000;
  font-size: 2rem;
  text-align: center;
  }

  label{
  width: 30% !important;
  font-family: 'MedievalSharp' !important;
  color: #000 !important;
  font-weight: bold !important;
  font-size: 1.25rem !important;
  margin-right: 1rem !important;
  }

  .FormInputContainer{
  background-color: transparent !important;
  border: none !important;
  border-bottom: solid .0563rem #000 !important;
  margin-left: .9375rem !important;
  margin-top: -1.5rem !important;
  outline: none !important;
  font-family: 'MedievalSharp' !important;
  font-size: 1rem !important;
  padding: 0.5rem !important;
  width: 70% !important;
  }

  Button{
  margin-top: 1.5625rem !important;
  background-color: transparent !important;
  color: #000 !important;
  /* border: solid !important; */
  border-radius: .625rem !important;
  outline: none !important;
  font-family: 'MedievalSharp' !important;
  font-size: .9375rem !important;
  padding: 1rem 2rem !important;
  /* margin-left: 18rem !important; */
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  }

  Button:hover{
  background-color: #000;
  }

  @media screen and (max-width: 768px) {
  .FormContainer {
  width: 90%;
  }

  label, .FormInputContainer {
  font-size: 1rem;
  }
  
  Button {
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  }

}

