@font-face{
    font-family: 'MedievalSharp';
    src: url(./src/assets/font/MedievalSharp-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}


#cardHeatherID{
    font-family: 'MedievalSharp';
    font-weight: bold;
}

.CardGroup{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.cardStyle{
    margin: .9375rem;
}