.container{
    display: flex;
    flex-direction: column;
    background-image: url("./src/assets/fondopergamino.jpg");
    width: 25%;
    height: 50%;
    margin-top: 35px;
    border-radius: 15px;
    font-family: 'MedivalSharp'!important;
}

.login{
    margin-top: 3px !important;
    font-family: 'MedivalSharp'!important;
    font-size: 1.25rem !important;
    color: #000 !important;

}

#formUsername{
    height: 50%;
    width: 65%;
    margin: 0 auto;
    border-radius: 15px;
    padding: .3125rem;
    margin-top: 3%;
    margin-bottom: 5%;

}

#formPassword{
    height: 50%;
    width: 65%;
    margin: 0 auto;
    border-radius: 15px;
    padding: .3125rem;
    margin-top: 3%;
    margin-bottom: 5%;
}

.label{
    display: flex;
    flex-direction: row !important;
    margin-top: 5px;
    width: 35% !important;
    font-family: 'MedievalSharp' !important;
    color: black !important;
    font-weight: bold !important;
    font-size: .9375rem !important;
}

Button{

    margin-top: 4% !important;
    margin-bottom: 4% !important;
    background: transparent !important;
    color: black !important;
    outline: 1px black solid !important;
    font-family: 'MedievalSharp' !important;
    font-size: 10px !important;

}


